.teaser {
  display: flex;
  flex-direction: column;
}

.teaser .teaser-image {
  line-height: 0;
}

.teaser .teaser-image img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.teaser .teaser-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 40px 24px;
  background-color: var(--light-color);
}

.teaser .teaser-content p.button-wrapper {
  margin-top: 8px;
}

.teaser .teaser-pretitle {
  margin: 0;
  font-size: var(--body-font-size-xs);
  font-weight: 700;
  color: var(--text-color);
}

@media (width >= 900px) {
  .teaser {
    flex-direction: row;
    align-items: stretch;
  }

  .teaser .teaser-image,
  .teaser .teaser-content {
    flex: 1;
  }

  .teaser .teaser-content {
    padding: 64px 48px;
  }

  .teaser.reverse {
    flex-direction: row-reverse;
  }
}
